.backgroundColorForCustomer{
  background-color: #FFF4E1;
}
.backgroundColorForItems{
  background-color: #E7F5FE;
}
.itemExpansionPanel{
  background-color: #5ab5b1 !important;
  padding: 0;
}
.backgroundColorForSlas{
  background-color: #E9FCE9;
}
.backgroundColorForTenders{
  background-color: #FAEFEF;
}
.dbVolumeTurnRed{
  background-color: red !important;
  color: white;
}

.backgroundColorForLost{
  background-color: rgb(255, 177, 177);
}

.full-width {
  width: 100%;
}